spring:
  application:
    name: journalApplication
  data:
    mongodb:
      host: localhost
      port: 27017
      database: journaldb
      auto-index-creation: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: projectpranay23@gmail.com
    password: zowe lkwa iigv cyhi
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true